.form {
  border: 1px solid black;
  height: 40%;
  width: 24%;
}

.title {
  background-color: black;
  color: white;
  height: 2.4rem;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.input-field {
  /* border: 1px solid blue; */
  font-size: 1.2rem;
  padding: 1rem;
  height: 4.5rem;
}

.input-field label {
  margin-right: 1rem;
}

.input-field input {
  height: 1.6rem;
}

.error {
  color: red;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.change {
  /* text-decoration: underline; */
  margin-left: 1rem;
}

.change:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.button {
  display: block;
  margin: 1rem auto;
  background-color: black;
  color: white;
  height: 2rem;
  width: 6rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}

.button[disabled],
.button[disabled]:hover {
  background-color: #ccc;
  color: white;
  border: none;
  cursor: not-allowed;
}

.button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
  height: 2rem;
  width: 6rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}
